
<div class="container text-center  padded">
  <form action="/answer" class="form-inline">
    <label for="question" method="get" class="sr-only">Speak to your coach</label>
    <input type="text" id="question" name="question" placeholder="ask your coach ?" class="form-control">
    <button type="submit" class="btn btn-primary text-center" id="btn-round"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
  </form>
</div>
